<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%;">
        <%- include('./components/header.ejs') -%>
        <div style="flex-grow: 1;"></div>
        <div>
            <%- !user ? include('./components/log_in.ejs') : null -%>
            <%- user ? include('./components/home.ejs') : null -%>
        </div>
        <div style="flex-grow: 1;"></div>
        <%- include('./components/footer.ejs') -%>
    </div>
</body>
</html>