<div style="display: flex; align-items: center; gap: 6px; background-color: bisque; width: 100%; padding-left: 24px;">
    <h3>Created by Christopher Pravlik.</h3>
    <a href="https://github.com/Exsius/webIIIa2">github repo.</a>
</div>