<div style="display: flex; align-items: flex-end; gap: 4px;">
<h2>Log in.</h2>
<% if (messages.error) { %>
<p style="margin-bottom: 25px; font-size: 0.75rem; color: red">
    <%= messages.error %>*
</p>
<% } %>
</div>
<form action="/api/user/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>